nbproject/*
!.gitignore
!.htaccess
!cms/.htaccess
.DS_Store
*~
*error_log
.ftpquota
*~
*.zip
protected/config/data.php
*.bak
*error_log
.ftpquota
*.mp3
*.m4v
*.mp4
framework/vendor/*
framework/composer.json
framework/composer.lock
framework/vendor/composer/*
includes/structure/*
#assets/*
._*
.idea
includes/files/zona/*
vendor/*
vendor
doc/*
.vscode/
